@model RoleManagmentVM

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Manage User Role 
				<hr />
			</h2>
		</div>
		<div asp-validation-summary="ModelOnly"></div>
		
		<input asp-for="ApplicationUser.Id" hidden />
		<div class="mb-2 row p-1">
			<label asp-for="ApplicationUser.Name" class="p-0"></label>
			<input asp-for="ApplicationUser.Name" readonly class=" form-control" />
			
		</div>
		@{
			var companyVisible = "display:none;";
		}
		@if (Model.ApplicationUser.Role == SD.Role_Company)
		{
			companyVisible = "display:block;";
		}
		<div class="mb-2 row">
			<select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
		</div>
		<div class="mb-2 row">
			 <select asp-for="ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select">
                    </select>
		</div>
		<div class="row">
			<div class="col-6 col-md-3
">
				<button type="submit" class="btn btn-primary form-control">Update Role</button>

			</div>
			<div class="col-6 col-md-3">
				<a  asp-action="Index" class="btn btn-secondary form-control">
					Back to List
				</a>
			</div>

		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		$(document).ready(function () {
			$('#ApplicationUser_Role').change(function () {
				var selection = $('#ApplicationUser_Role Option:Selected').text();
				if (selection == 'Company') {
					$('#ApplicationUser_CompanyId').show();
				}
				else {
					$('#ApplicationUser_CompanyId').hide();
				}
			})
		})
	</script>
} 